@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #202020;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 120px;
}

.page-title {
  font-size: 3em;
  text-align: center;
  font-family: "Cascadia Mono";
  color: #f18723;
  margin: 10px;
}

.page-subtitle {
  font-family: "Cascadia Mono";
  font-size: 1.86em;
  text-align: center;
  color: #e9e3e3;
  margin: 10px;
}

.card {
  margin: 10px;
  width: 190px;
  height: 274px;
  border-radius: 20px;
  background: #2b2a2a;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #4e4d4d;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.3em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #f18723;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
  margin: 10px;
}

/*Text*/
.text-title {
  color: aliceblue;
  font-size: 1.5em;
  font-weight: bold;
}

.image-icon {
  width: 90%;
  border-radius: 7px;
}

/*Hover*/
.card:hover {
  border-color: #f18723;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
