@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Story+Script&display=swap");

/* container */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  column-gap: 0.5em;
  margin-bottom: 2em;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #131313;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* title */
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 2em;
  padding: 2em 0;
  width: 99vw;

  /* background: linear-gradient(180deg, #e2d3ac 0%, #6d757700 100%); */
  background-color: #1f1e1e;
}

.header-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 99vw;
  z-index: 100;
  padding: 1em 0;
  text-align: center;
  background-color: #131313;
}

.header-nav a {
  padding: 1em 2em;
  margin: 0;
  background-color: #131313;
  color: rgb(219, 223, 228);
  transition: 0.5s ease-out;
  text-decoration: none;
}

.header-nav a:hover {
  background-color: #2e2e2e;
}

.logo {
  height: 160px;
}

.page-title {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  font-family: "Cascadia Mono";
  color: #ed8f1f;
  margin: 10px;
}

.page-subtitle {
  font-family: "Cascadia Mono";
  font-size: 1.86em;
  font-weight: 100;
  text-align: center;
  color: rgb(219, 223, 228);
  margin: 10px;
}

/* project group */
.group-title {
  margin: 0.5em;
  text-align: left;
  color: #ed8f1f;
  font-size: 1.86em;
  font-family: "Cascadia Mono";
  font-weight: 600;

  grid-column: 1 / -1; /* Prend toute la première ligne */
  display: flex;
  align-items: center;
}
svg {
  margin: 0 0.5em;
  fill: #ed8f1f;

  height: 30px;
}

/* card ---------------------------------------------------------------*/
.card {
  margin: 10px;
  width: 250px;
  height: 274px;
  border-radius: 20px;
  background: #131313;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #575451;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.3em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #ed8f1f;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
  margin: 10px;
}

/*Text*/
.text-title {
  color: rgb(219, 223, 228);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
}

.image-icon {
  width: 60%;
  border-radius: 7px;
}

/*Hover*/
.card:hover {
  border-color: #ed8f1f;
  box-shadow: 0 4px 18px 0 #ed8f1f;
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.empty-card {
  margin: 10px;
  width: 250px;
  height: 274px;
  padding: 1.8rem;
}

.beta {
  transform: translate(-50%, 125%);
  width: fit-content;
  border-radius: 2rem;
  border: none;
  background-color: #2daddc;
  color: #e9e2e2;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;

  top: 0;
  /* opacity: 0; */
  /* transition: 0.3s ease-out; */
}

/* master carc ----------------------------------------------------------- */
.master-card {
  margin: 10px;
  width: 925px;
  height: 274px;
  border-radius: 20px;
  background: #131313;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #575451;
  transition: 0.5s ease-out;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.master-card-details {
  color: black;
  flex-grow: 3;
  padding: 1.8rem;
}

.master-card-button {
  transform: translate(-50%, 125%);
  width: 20%;
  border-radius: 1rem;
  border: none;
  background-color: #ed8f1f;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.master-text-body {
  color: rgb(134, 134, 134);
  margin: 10px;
}

/*Text*/
.master-text-title {
  color: rgb(219, 223, 228);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.8em 0;
}

.master-image-icon {
  width: auto;
  height: 100%;
  border-radius: 7px;
}

/*Hover*/
.master-card:hover {
  border-color: #ed8f1f;
  box-shadow: 0 4px 18px 0 #ed8f1f;
}

.master-card:hover .master-card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* portfolio card  -------------------------------------------------------------*/
.PF-card {
  margin: 10px;
  margin-bottom: 20px;
  width: 40vw;
  height: fit-content;
  border-radius: 20px;
  background: #131313;
  position: relative;
  padding: 1em;
  border: 2px solid #575451;
  transition: 0.5s ease-out;
  overflow: visible;
}

.PF-card-details {
  color: black;
  height: 100%;
  gap: 0.3em;
  display: grid;
  place-content: left;
}

.PF-card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #ed8f1f;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

/*Text*/
.PF-text-body {
  color: rgb(134, 134, 134);
  margin: 10px;
}

.PF-text-title {
  color: rgb(219, 223, 228);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5em;
}

.PF-image-icon {
  width: 99%;
  border-radius: 7px;
}

/*Hover*/
.PF-card:hover {
  border-color: #ed8f1f;
  box-shadow: 0 4px 18px 0 #ed8f1f;
}

.PF-card:hover .PF-card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* formulaire --------------------------------------------------------*/
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: 2em auto;
}
.contact-form input,
.contact-form textarea {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact-form button {
  background: #ed8f1f;
  color: #fff;
  border: none;
  padding: 0.7em;
  border-radius: 5px;
  cursor: pointer;
}
.contact-form button:hover {
  background: #c96e0c;
}
